NEXT_CLOUDE_NAME=dx8bgm921
NEXT_PUBLIC_CLOUDINARY_UPLOAD_API=https://api.cloudinary.com/v1_1/dx8bgm921/image/upload


NEXT_PUBLIC_BACKKEND_URL=http://localhost:8000  #for local

#NEXT_PUBLIC_BACKKEND_URL=https://tutora-server.vercel.app/ #for production